# Python
__pycache__/
*.pyc
.venv/
venv/

# Frontend
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# Model and data files
*.pth
*.pkl
*.pt
*.onnx
*.engine
*.db
*.sqlite
*.sql

# Logs
*.log

# System
.DS_Store
Thumbs.db